## Heatmaps

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [3]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marataizes,BR,2022-01-29 21:22:29,-21.0433,-40.8244,79.27,83,16,15.08
1,1,Arraial Do Cabo,BR,2022-01-29 21:18:50,-22.9661,-42.0278,75.16,83,75,9.22
2,2,Chicama,PE,2022-01-29 21:22:29,-7.8447,-79.1469,68.54,62,81,10.83
3,3,Punta Arenas,CL,2022-01-29 21:22:30,-53.1500,-70.9167,53.71,54,75,17.27
4,4,Albany,US,2022-01-29 21:22:05,42.6001,-73.9662,15.58,61,100,5.01

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [12]:

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Filter cities by preferred temp input

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marataizes,BR,2022-01-29 21:22:29,-21.0433,-40.8244,79.27,83,16,15.08
1,1,Arraial Do Cabo,BR,2022-01-29 21:18:50,-22.9661,-42.0278,75.16,83,75,9.22
5,5,Nelson Bay,AU,2022-01-29 21:19:17,-32.7167,152.1500,77.95,77,91,1.99
9,9,Avarua,CK,2022-01-29 21:22:32,-21.2078,-159.7750,82.45,78,65,11.50
10,10,Alappuzha,IN,2022-01-29 21:22:32,9.4900,76.3264,79.03,72,12,2.73
13,13,Benguela,AO,2022-01-29 21:22:33,-12.5763,13.4055,77.68,82,100,6.87
14,14,Mar Del Plata,AR,2022-01-29 21:19:11,-38.0023,-57.5575,84.22,89,0,17.00
15,15,Emiliano Zapata,MX,2022-01-29 21:22:33,18.8333,-99.1833,85.05,30,0,9.22
16,16,Alindao,CF,2022-01-29 21:22:34,5.0267,21.2088,76.64,23,22,3.38
27,27,Thinadhoo,MV,2022-01-29 21:21:16,0.5333,72.9333,81.23,72,100,4.74

In [21]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0        Marataizes      BR     79.27 -21.0433  -40.8244
1   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
5        Nelson Bay      AU     77.95 -32.7167  152.1500
9            Avarua      CK     82.45 -21.2078 -159.7750
10        Alappuzha      IN     79.03   9.4900   76.3264
13         Benguela      AO     77.68 -12.5763   13.4055
14    Mar Del Plata      AR     84.22 -38.0023  -57.5575
15  Emiliano Zapata      MX     85.05  18.8333  -99.1833
16          Alindao      CF     76.64   5.0267   21.2088
27        Thinadhoo      MV     81.23   0.5333   72.9333

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Marataizes,BR,79.27,-21.0433,-40.8244,Ed. Barra Shopping
1,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
5,Nelson Bay,AU,77.95,-32.7167,152.1500,Mantra Nelson Bay
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
10,Alappuzha,IN,79.03,9.4900,76.3264,Panoramic Sea Resort
13,Benguela,AO,77.68,-12.5763,13.4055,Hotel Praia Morena
14,Mar Del Plata,AR,84.22,-38.0023,-57.5575,Gran Hotel Mar del Plata
15,Emiliano Zapata,MX,85.05,18.8333,-99.1833,Parador De Manolos Hotel
16,Alindao,CF,76.64,5.0267,21.2088,OCHA Alindao
27,Thinadhoo,MV,81.23,0.5333,72.9333,

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))